* {
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif,
    "Times New Roman", Times, serif;
  background-color: #6e0003;
  color: rgb(0, 255, 55);
}

main {
  width: 1024px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 6rem 13rem 5rem 20rem 6rem;
}

#siteLogo {
  max-width: 20%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font: bold;
  color: mintcream;
  line-height: 0.8;
  margin: 1.5rem 0 1rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}

section {
  background-color: #31081f;
  max-height: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

section img {
  width: 200px;
  height: 200px;
  border: 5px solid transparent;
  margin: 4px;
}

.aggResults {
  background-color: #6e0003;
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2rem;
}
a:link {
  color: mintcream;
}
a:visited {
  color: mintcream;
}

.chartbox {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 750px;
  height: 500px;
}
